<h1><%= @game.main_text %></h1>
<p>Two players switch off choosing how much to add. The first player to get to 21 wins!</p>

<h2 id="current-amount"><%= @current_amount %></h2>

<a id="add-one" href="/?add=1&current=<%= @current_amount %>">Add one</a>
<a id="add-two" href="/?add=2&current=<%= @current_amount %>">Add two</a>
<a id="add-three" href="/?add=3&current=<%= @current_amount %>">Add three</a>

<div>
  <a href="/" id="reset-game">Reset game</a>
</div>
